# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/.name
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/WindScoutDiagramPlayGround.iml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/dictionaries/flori.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/encodings.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/inspectionProfiles/Project_Default.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/inspectionProfiles/profiles_settings.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/misc.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/modules.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/runConfigurations/WindScoutDiagramPlayGround.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/scopes/scope_settings.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/vcs.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/workspace.xml
GeneratePDFfromUIViewButDontWantToLooseQuality/.idea/xcode.xml
